<section>announcement bar</section>

{% schema %}
    {
      "name": "Annoucement Bar",
      "settings": [
        {
          "type": "checkbox",
          "id": "show-annoucement",
          "label": "Show Announcement",
          "default": true
        }
      ],
      "presets": []
    }
  {% endschema %}